<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Resolved Requests - Expense Reimbursement System</title>
<link rel="stylesheet" href="../styles/global.css">
<script src="../scripts/resolved-requests.js"></script>
</head>
<body>
<div class="container">
	<div id="header">
		<h1>Expense Reimbursement System</h1>
	</div>
	<div id="title">
		<h2>Your Resolved Requests</h2>
	</div>
	<div id="formDiv">
		<form id="back" action="./home.html">
			<button>Back</button>
		</form>
	</div>
	</div>
</body>
</html>