<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Manager Tools</title>
<link rel="stylesheet" href="../../styles/global.css">
<script src="../../scripts/manager-tools.js"></script>
</head>
<body>
<div class="container">
	<div id="header">
		<h1>Expense Reimbursement System</h1>
	</div>
	<div id="title">
		<h2>Manager Tools</h2>
	</div>
	<div id="pending">
		<h3 id="requestsHeading">Your Employees' Pending Requests</h3>
	</div>
	<div id="toRequests">
		<form id="toRequestsForm" action="./request-list.html">
			<button>View Resolved Requests</button>
		</form>
	</div>
	<div id="singleEmployee">
		<form id="singleEmployeeForm" action="./single-employee.html">
			<button>View A Single Employee's Requests</button>
		</form>
	</div>
	<div id="toEmployees">
		<form id="toEmployeesForm" action="./employee-list.html">
			<button>View All Employees</button>
		</form>
	</div>
	<div id="goBackDiv">
		<form id="goBackForm" action="../home.html">
			<button>Back</button>
		</form>
	</div>
	</div>
</body>
</html>