<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Resolved Requests - Expense Reimbursement System</title>
<link rel="stylesheet" href="../../styles/global.css">
<script src="../../scripts/request-list.js"></script>
</head>
<body>
<div class="container">
	<div id="header">
		<h1>Expense Reimbursement System</h1>
	</div>
	<div id="title">
		<h2>Resolved Requests</h2>
	</div>
	<div id="goBackDiv">
		<form id="goBackForm" action="./manager-tools.html">
			<button>Back</button>
		</form>
	</div>
</div>
</body>
</html>