<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ExpenseReimbursementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjaxEndpoint</display-name>
    <servlet-name>AjaxEndpoint</servlet-name>
    <servlet-class>com.revature.web.AjaxEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxEndpoint</servlet-name>
    <url-pattern>/AjaxEndpoint</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.revature.web.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/views/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>EditInfoServlet</display-name>
    <servlet-name>EditInfoServlet</servlet-name>
    <servlet-class>com.revature.web.EditInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInfoServlet</servlet-name>
    <url-pattern>/EditInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequests</display-name>
    <servlet-name>GetRequests</servlet-name>
    <servlet-class>com.revature.web.GetRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequests</servlet-name>
    <url-pattern>/GetRequests</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>IndexFilter</display-name>
    <filter-name>IndexFilter</filter-name>
    <filter-class>com.revature.web.IndexFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IndexFilter</filter-name>
    <url-pattern>/index.html</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ManagerFilter</display-name>
    <filter-name>ManagerFilter</filter-name>
    <filter-class>com.revature.web.ManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/views/manager/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>NewRequestServlet</display-name>
    <servlet-name>NewRequestServlet</servlet-name>
    <servlet-class>com.revature.web.NewRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRequestServlet</servlet-name>
    <url-pattern>/NewRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessRequest</display-name>
    <servlet-name>ProcessRequest</servlet-name>
    <servlet-class>com.revature.web.ProcessRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessRequest</servlet-name>
    <url-pattern>/ProcessRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployees</display-name>
    <servlet-name>ViewEmployees</servlet-name>
    <servlet-class>com.revature.web.ViewEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployees</servlet-name>
    <url-pattern>/ViewEmployees</url-pattern>
  </servlet-mapping>
</web-app>